{% load staticfiles %}

<html>
    <head>
        <title>LOL Client</title>
    </head>
    <body >
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <div>
            <!--- Nav -->
            <a id="home" href="#">Home</a><br>
            <a id="profile" href="#">Perfil</a><br>
            <a id="messagges" href="#">Mensajes</a><br>
            <a id="store" href="#">Tienda</a><br>
            <a id="signin" href="#">Log In</a><br>
            <span id="state">Estado</span>
            <br><hr><br>

            <!--- Search -->
            <input id="search" type="text"/><select>
            <option id="server_predefined" value="null">Select</option>
            <option id="server_br" value="0">BR</option>
            <option id="server_eune" value="1">EUNE</option>
            <option id="server_euw" value="2">EUW</option>
            <option id="server_kr" value="3">KR</option>
            <option id="server_lan" value="4">LAN</option>
            <option id="server_las" value="5">LAS</option>
            <option id="server_na" value="6">NA</option>
            <option id="server_oce" value="7">OCE</option>
            <option id="server_ru" value="8">RU</option>
            <option id="server_tr" value="9">TR</option>
            </select>
            <button id="search_btn">P</button><br>
            <br><hr><br>

            <!-- Summoner Info -->
            <img id="summoner_img" src="#"/><br>
            <span id="summoner_name">{{ nombre }}</span><br>
            <span id="summoner_league_name">{{ liga }} - {{ division }}</span><br>
            <img src="summoner_league_img"/><br>
            <span id="summoner_kda">{{ kills }}K / D / {{ assists }}A</span><br>
            <span id="summoner_wins">Wins: {{ wins }}</span><br>
            <span id="summoner_loses">Loses: {{ losses }}</span><br>
            <br><hr><br>

            <!-- Most Played Champion -->
            <img id="mostPlayedChamp_img" src="#"/><br>
            <span id="mostPlayedChamp_name">Nombre</span><br>
            <span id="mostPlayedChamp_kda_coefiecient">Coeficiente de kda</span><br>
            <span id="mostPlayedChamp_kda">K/D/A</span><br>
            <span id="mostPlayedChamp_cs">Minions</span><br>
            <span id="mostPlayedChamp_gold">Oro Promedio</span><br>
            <span id="mostPlayedChamp_matches_count">Numero de Partidas</span><br>
            <span id="mostPlayedChamp_winrate_per100">Win Rate Porcentaje</span><br>
            <span id="mostPlayedChamp_winrate_count">Win Rate</span><br>
            <span id="mostPlayedChamp_loserate_per100">Loose Rate Porcentaje</span><br>
            <span id="mostPlayedChamp_loserate_count">Loose Rate</span><br>
            <br><hr><br>

            <!-- Free Champions -->
            <img id="freeChamp_1" src="#"> <!-- for all free champions -->
            <br><hr><br>

            <!-- Sales-->
            <img id="skinSale_background" src="#"><span id="skinSale_name">Name</span> <!-- For all offers-->
            <span id="skinSale_price">RP</span><span id="skinSale_off">X% off</span>
            <br><hr><br>
            
            <!-- Featured Games-->
            <span id="type">Clasificatoria</span><br>
            <span id="time">Tiempo</span><br>
            <span id="player_blue_1_name">Name</span><br><img id="player_blue_1_img" src="#">
            <span id="player_blue_2_name">Name</span><br><img id="player_blue_2_img" src="#">
            <span id="player_blue_3_name">Name</span><br><img id="player_blue_3_img" src="#">
            <span id="player_blue_4_name">Name</span><br><img id="player_blue_4_img" src="#">
            <span id="player_blue_5_name">Name</span><br><img id="player_blue_5_img" src="#">
            <span>VS</span><br>
            <img id="player_red_1_img" src="#"><br><span id="player_red_1_name">Name</span>
            <img id="player_red_2_img" src="#"><br><span id="player_red_2_name">Name</span>
            <img id="player_red_3_img" src="#"><br><span id="player_red_3_name">Name</span>
            <img id="player_red_4_img" src="#"><br><span id="player_red_4_name">Name</span>
            <img id="player_red_5_img" src="#"><br><span id="player_red_5_name">Name</span>
            <br><hr><br>
            
            <!-- Fear the Adriex -->
            
        </div>
