.summoner_league_img_tab {
    height: 100px;
}
.league_champion_img {
    position: relative;
    left:3px;
    width: 45px;
    border-radius: 5px 15px 5px 15px;
}


.list {
    border:5px solid #27406e;
    background:#04242F;
    text-align: left;
    padding: 5px;
    font-size: 10px;
}


.league_summoner_name {
    position: relative;
    left: 25px;
    top:-10px;
}

.league_summoner_rank {
    position: relative;
    left:130px;
    top:-10px;
}

.league_summoner_change {
    position: relative;
    left: 195px;
    top:-10px;
}

.league_isRecent {
    position: relative;
    left:275px;
    top:-10px;
}

.league_isOnFire {
    position: relative;
    left:354px;
    top:-10px;
}

.league_summoner_wins {
    position: relative;
    left:460px;
    top:-10px;
}

.league_summoner_points {
    position: relative;
    left:546;
    top:-10px;
}

.data-list {
    margin:-6px;
    padding: 4px;
    background: #27406e;
    margin-bottom: 11px;
}

#points {
    position: relative;
    left:380px;
}

#wins {
    position: relative;
    left:340px;
}

#onfire {
    position: relative;
    left:280px;
}

#recent {
    position: relative;
    left:230px;
}

#change {
    position: relative;
    left:180px;
}

#rank {
    position: relative;
    left:139px;
}

#name {
    position: relative;
    left:48px;
}

#imgLeague {
    position: relative;
    left:5px;
}
