
#slot1 {
    top:-73px;
    left:24px;
}

#slot2 {
    top:-73px;
    left:38px;
}

#slot3 {
    top:-71px;
    left:67px;
}

#slot4 {
    top:-140px;
    left:-170;
}

#slot5 {
    top:-145;
    left:-155;
}

#slot6 {
    top:-128;
    left:-150;
}

#slot7 {
    top:-202;
    left:-320;
}

#slot8 {
    top:-198;
    left:-285;
}

#slot9 {
    top:-248;
    left:-390;
}

#slot10 {
    top:-300;
    left:-493;
}

#slot11 {
    top:-305;
    left:-468
}

#slot12 {
    top:-360;
    left:-576;
}

#slot13 {
    top:-387;
    left:-570
}

#slot14 {
    top:-510;
    left:179;
}

#slot15 {
    top:-542;
    left:189;
}

#slot16 {
    top:-564;
    left:198;
}

#slot17 {
    top:-585;
    left:215;
}

#slot18 {
    top:-525;
    left:186;
}

#slot19 {
    top:-582;
    left:175;
}

#slot20 {
    top:-524;
    left:157;
}

#slot21 {
    top:-583;
    left:136;
}

#slot22 {
    top:-480;
    left:95;
}

#slot23 {
    top:-535;
    left:70;
}

#slot24 {
    top:-583;
    left:56;
}

#slot25 {
    top:-542;
    left:56
}

#slot26 {
    top:-492;
    right:52
}

#slot27 {
    top:-538;
    left:484;
}

#slot28 {
    top:-610;
    right:220;
    width: 100;
}

#slot29 {
    top:-390;
    right:140;
    width: 100;
}

#slot30 {
    top:-455;
    left:20;
    width: 100;
}