.fondo-content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1A486D;
    -webkit-box-shadow: 0 1px 8px 1px #474747;
    box-shadow: 0 1px 8px 1px #474747;
    overflow: hidden;
    padding: 5px;
}

.summoner{
    background-color: white;
    width: 50%;
    -webkit-box-shadow: 0 1px 8px -1px #474747;
    box-shadow: 0 1px 8px -1px #474747;
}

.content{
    background-color: white;
    width: 50%;
    margin-left:
    -webkit-box-shadow:inset 0 1px 8px -1px #474747;
    box-shadow:inset 0 1px 8px -1px #474747;
}
