#fullarea
{
	width: 1155px;
	margin: 10px;
	overflow: auto;
}
	#fullarea .listpiece
	{
		float: left;
		position: relative;
		width: 280px;
		height: 52px;
		margin: 5px 0px 5px 5px;
		border: 1px solid black;
	}
		#fullarea .listpiece .img {
			float: left;
			margin: 2px;
		}
		#fullarea .listpiece .name
		{
			position: absolute;
			left: 52px;
			font-weight: bold;
			width: 180px;
			height: 20px;
		}
		#fullarea .listpiece .gold
		{
			position: absolute;
			right: 2px;
			width: 55px;
			height: 20px;
			text-align: right;
		}
	#fullarea .champion-listpiece {
		border: 1px solid #adadad;
		margin: 0px 10px 10px 0px;
		background-color: #f2f2f2;
    height: 132px;
    width: 330px;
    float: left;
    border-radius: 4px;
	}
    #fullarea .champion-listpiece .content {
      position: relative;
      margin: 5px;
    }
      #fullarea .champion-listpiece .artwork {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      #fullarea .champion-listpiece .name {
        position: absolute;
        top: 1px;
        left: 54px;
        font-size: 13px;
        font-size: 14px;
        font-weight: bold;
      }
      #fullarea .champion-listpiece .title {
        position: absolute;
        top: 16px;
        left: 55px;
        font-size: 12px;
      }
      #fullarea .champion-listpiece .tags {
        position: absolute;
        top: 32px;
        left: 55px;
        font-size: 12px;
        text-transform: capitalize;
      }
      #fullarea .champion-listpiece .statsleft {
        position: absolute;
        top: 55px;
        left: -1px;
        width: 154px;
        height: 65px;
        border-right: 1px solid #777777;
        font-size: 11px;
        line-height: 13px;
      }
      #fullarea .champion-listpiece .statsright {
        position: absolute;
        top: 55px;
        left: 160px;
        width: 154px;
        height: 65px;
        font-size: 11px;
        line-height: 13px;
      }
	
	.rg-box-modal.rg-display-champion_modal
	{
		width: 400px;
		height: 500px;
		color: #fff;
	}
		.rg-box-modal.rg-display-champion_modal .name
		{
			position: absolute;
			left: 132px;
			top: 14px;
			font-size: 2.2em;
			font-weight: bold;
		}
		.rg-box-modal.rg-display-champion_modal .title
		{
			position: absolute;
			left: 134px;
			top: 36px;
			font-weight: bold;
			font-style: italic;
		}
		.rg-box-modal.rg-display-champion_modal .imagecontainer
		{
			position: absolute;
			top: 7px;
			left: 7px;
		}
		.rg-box-modal.rg-display-champion_modal .champswitches
		{
			position: absolute;
			left: 130px;
			top: 95px;
		}
		.rg-box-modal.rg-display-champion_modal .pane
		{
			position: absolute;
			left: 7px;
			top: 130px;
			padding: 4px 4px 4px 4px;
			width: 390px;
			height: 367px;
			overflow: hidden;
			border-radius: 4px 4px 4px 4px;
			border: 1.15px solid #686868;
		}
		.rg-box-modal.rg-display-champion_modal .champtips .recommended
		{
			width: 144px;
			height: 116px;
			float: left;
			margin: 5px 25px;
		}
		.rg-box-modal.rg-display-champion_modal .champtips .recommended .rectitle
		{
			width: 144px;
			height: 20px;
			text-align: center;
			font-weight: bold;
			font-size: 1.1em;
		}
		.rg-box-modal.rg-display-champion_modal .champtips .recommended .img
		{
			float: left;
		}
    .rg-box-modal.rg-display-champion_modal .spellblock
    {
      float: left;
      padding: 2px 2px 18px;
      margin: 0px 0px 10px;
      border-bottom: 1px solid #777777;
    }
      .rg-box-modal.rg-display-champion_modal .spellblock .img
      {
        float: left;
        margin: 4px 0px 0px;
      }
      .rg-box-modal.rg-display-champion_modal .spellblock .description
      {
        float: left;
        padding: 0px 0px 2px 8px;
        width: 316px;
      }
		.rg-box-modal.rg-display-champion_modal .champinfo,
		.rg-box-modal.rg-display-champion_modal .champspells
		{
			padding: 4px 20px 4px 4px;
			width: 376px;
			height: 373px;
      outline: 0;
		}
		

.masterytree
{
    background-size: 775px;
	width: 944px;
	height: 609px;
    margin-bottom: 10px;
}
	.masterytree .rg-mastery-trunk
	{
		float: left;
	}
.mastery .image,
.mastery .gray-image {
  margin: 1px;
}
.mastery .img {
	display: none;
}
.mastery-available .img,
.mastery-maxed .img {
	display: block;
}
.mastery .gray-img {
	display: block;
}
.mastery-available .gray-img,
.mastery-maxed .gray-img {
	display: none;
}
.mastery .frame {
    position: absolute;
	top: 0;
	left: 0;
	height: 52px;
	width: 52px;
	background-image: url(http://ddragonqa.riotgames.com/cdn/img/global/mastersprite.png);
	background-position: -126px 0;
}
.rg-mastery-trunk .mastery-available .frame {
	background-position: -184px 0;
}
.rg-mastery-trunk .mastery-maxed .frame {
	background-position: -242px 0;
}
.mastery .points {
	position: absolute;
	top: 39px;
	right: 2px;
	width: 31px;
	background-image: url(http://ddragonqa.riotgames.com/cdn/img/global/mastersprite.png);
	background-position: -126px -58px;
	color: #afafaf;
	text-align: center;
	font-size: 11px;
	line-height: 16px;
}
.mastery-available .points {
	color: #1aff1b;
    background-position: -184px -58px;
}
.mastery-maxed .points {
	color: #deb633;
    background-position: -242px -58px;
}
.rg-mastery-trunk .mastery {
	border: 0 !important;
}
.mastery .img-container {
	margin: 2px;
}
.masterytree-maxed .mastery-empty {
	border-color: #afafaf !important;
}
	.masterytree-maxed .mastery-empty .points {
		color: #afafaf;
	}
.rg-mastery-trunk .mastery-maxed, .masterytree-maxed .mastery-maxed {
	border-color: #deb633 !important;
}
.rg-mastery-trunk .title {
	position: absolute;
	bottom: 11px;
	left: 26px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.rg-display-mastery_tooltip .info {
	color: #fff;
}
	.rg-display-mastery_tooltip .info .rank {
		font-size: 10px;
		color: #19fe19;
	}
	.rg-display-mastery_tooltip .info .next {
		margin-top: 1em;
	}
	.rg-display-mastery_tooltip .info .requires {
		color: #fe0000;
		margin-bottom: 1em;
	}
.rg-display-mastery_tooltip .maxed .rank {
	color: #fcce00;
}
.rg-display-mastery_tooltip .unavailable .rank {
	color: #aeaeae;
}

	#fullarea .item-listpiece {
		border: 1px solid #adadad;
		margin: 0px 10px 10px 0px;
		background-color: #f2f2f2;
    height: 132px;
    width: 330px;
    float: left;
    border-radius: 4px;
	}
    #fullarea .item-listpiece .content {
      position: relative;
      margin: 5px;
    }
      #fullarea .item-listpiece .artwork {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      #fullarea .item-listpiece .name {
        position: absolute;
        top: 6px;
        left: 54px;
        font-size: 13px;
        font-weight: bold;
      }
      #fullarea .item-listpiece .cost {
        position: absolute;
        top: 25px;
        left: 55px;
        font-size: 12px;
      }
      #fullarea .item-listpiece .type {
        position: absolute;
        top: 25px;
        left: 55px;
        font-size: 12px;
      }
      #fullarea .item-listpiece .tier {
        position: absolute;
        top: 25px;
        left: 190px;
        font-size: 12px;
      }
      #fullarea .item-listpiece .description {
        position: absolute;
        top: 55px;
        left: -1px;
        width: 320px;
        height: 65px;
        font-size: 11px;
        line-height: 13px;
        overflow: auto;
        background-color: #FCFCFC;
      }
.mastery .prereq {
	background-image: url(http://ddragonqa.riotgames.com/cdn/img/global/mastersprite.png);
	position: absolute;
	width: 18px;
	left: 15px;
}
.mastery .prereq-1 {
	background-position: 0 -122px;
	height: 26px;
	top: -19px;
}
.mastery-available .prereq-1 {
	background-position: -21px -122px;
}
.mastery-maxed .prereq-1 {
	background-position: -42px -122px;
}
.mastery .prereq-2 {
	background-position: 0 -203px;
	height: 97px;
	top: -90px;
}
.mastery-available .prereq-2 {
	background-position: -21px -203px;
}
.mastery-maxed .prereq-2 {
	background-position: -42px -203px;
}
