/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

nav ul a,
nav .brand-logo {
    color: #444;
}

body{
    background-color: #04242f;
}
p {
    line-height: 2rem;
}

/*
.button-collapse {
color: #26a69a;
}
*/

.parallax-container {
    min-height: 128px;
    line-height: 0;
    height: 128px;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;

    }
}

.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
    background-color:#2299AA;
}

.waves-effect.waves-brown .waves-ripple {
    background-color: rgba(121, 85, 72, 0.65);
}
.waves-effect.waves-cyan .waves-ripple {
    background-color: rgba(81, 165, 224 , 0.25);
}
.cyan-text {
    color: #2299AA !important;
}

.cyan-light-text{
    color:#00CCEE !important;
}

.dark-text{
    color: rgba(255, 255, 255, 0.3);
}

nav ul li:hover, nav ul li.active{
    /*#51a5e0*/
    background-color: rgba(81, 165, 224 , 0.25);
}

.imgProfundidad{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all ease 200ms;}

.imgProfundidad:hover {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); 
    transition: all ease 200ms;}

.progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #26a69a;
}

.blue {
    background-color: #0b324b !important; }

.lightblue {
    background-color: #0f4668 !important; }

.darkblue {
    background-color: #04242f !important; }

.selectblue {
    background-color: #51a5e0 !important; }

.side-nav {
    position: fixed;
    width: 96px;
    left: -105%;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: left; }

.side-nav li:hover, .side-nav li.active {
    background-color:rgba(81, 165, 224 , 0.25);}

.input-field {
    position: relative;
    margin-top: 1rem; }

.input-field input[type=search]:focus {
    background-color: rgba(81, 165, 224 , 0.25); 
    border: 0;
    box-shadow: none;
    color: #fff; }

.input-field input[type=search]:focus + label i, .input-field input[type=search]:focus ~ .mdi-navigation-close, .input-field input[type=search]:focus ~ .material-icons {
    color: #fff; }

.tabs{
    display: flex;
    position: relative;
    height: 48px;
    background-color: #04242f;
    margin: 0px auto;
    width: 100%;
    white-space: nowrap;
}

.tabs .tab a {
    color: #ddd;
    display: block;
    width: 100%;
    height: 100%;
    transition: color 0.28s ease 0s;
    transition: background-color 0.28s ease 0s;
}
.tabs .tab a:hover {
    background-color: #0f4668;
    /*    color: rgba(81, 165, 224 , 0.25);*/
    color: white;

}
.tabs .indicator {
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #0f4668;
    will-change: left, right;
}

.summonerImg{
    border-radius:32px;
}

.summonerName{
    position: relative;
    bottom: 40px; 
}

.summonerDescription{
    position: relative;
    bottom: 46px;
    left: 102px;
    font-size: 20px;
}

.summonerLeagueImg{
    position: absolute;
    bottom: 26px;
    left: 84px;
    height: 32px;
    width: 32px;
}

#kda{
    position: relative;
    text-align: right;
    top:-10px;
}

#killdeathassist{
    position: relative;
    text-align: right;
    top: 20px;
    right: -186px;
}

.hMostPlayedChamp{
    position: relative;
    bottom: 16px;
}

.card .card-content {
    padding: 20px;
    border-radius: 0px 0px 2px 2px;
    height: 110px;
    cursor: pointer;
}

.listImg{
    height: 32px;
    width: 32px;
    margin-right: 8px
}

.top{
    padding-top: 12px;
    vertical-align: top;
}

.mid{
    vertical-align: middle;
}

.bot{
    vertical-align: bottom;
}

.clase{
    background-image: url("../img/rivenbaner.jpg");  
}

@media only screen and (max-width : 992px) {
    .hide-on-med-and-down {
        display: none !important; } }

@media only screen and (min-width : 1099px) {
    nav a.button-collapse {
        display: none; } }

table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(81, 165, 224 , 0.25); }

.large-text{
    font-size: 2.1rem;
}

.dropdown-content {
    background-color: rgba(81, 165, 224 , 0.25);
    margin: 0;
    display: none;
    min-width: 10px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height; }
.dropdown-content li:hover, .dropdown-content li.active {
    background-color: rgba(81, 165, 224 , 0.25);
}

.historyCard {
    height: 142px;
}

.rune{
    position: relative;
    width: 55px;
}


#slot1 {
    top:-73px;
    left:24px;
}

#slot2 {
    top:-73px;
    left:38px;
}

#slot3 {
    top:-71px;
    left:67px;
}

#slot4 {
    top:-140px;
    left:-170px;
}

#slot5 {
    top:-145px;
    left:-155px;
}

#slot6 {
    top:-128px;
    left:-150px;
}

#slot7 {
    top:-202px;
    left:-320px;
}

#slot8 {
    top:-198px;
    left:-285px;
}

#slot9 {
    top:-248px;
    left:-390px;
}

#slot10 {
    top:-300px;
    left:-493px;
}

#slot11 {
    top:-305px;
    left:-468px;
}

#slot12 {
    top:-360px;
    left:-576px;
}

#slot13 {
    top:-387px;
    left:-570px;
}

#slot14 {
    top:-510px;
    left:179px;
}

#slot15 {
    top:-542px;
    left:189px;
}

#slot16 {
    top:-564px;
    left:198px;
}

#slot17 {
    top:-585px;
    left:215px;
}

#slot18 {
    top:-525px;
    left:186px;
}

#slot19 {
    top:-582px;
    left:175px;
}

#slot20 {
    top:-524px;
    left:157px;
}

#slot21 {
    top:-583px;
    left:136px;
}

#slot22 {
    top:-480px;
    left:95px;
}

#slot23 {
    top:-535px;
    left:70px;
}

#slot24 {
    top:-583px;
    left:56px;
}

#slot25 {
    top:-542px;
    left:56px;
}

#slot26 {
    top:-492px;
    right:52px;
}

#slot27 {
    top:-538px;
    left:484px;
}

#slot28 {
    top:-610px;
    right:220px;
    width: 100px;
}

#slot29 {
    top:-390px;
    right:140px;
    width: 100px;
}

#slot30 {
    top:-455px;
    left:20px;
    width: 100px;
}