{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Wololol</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection">

</head>
<body>
    <nav class="blue" role="navigation">
        <div class="nav-wrapper container">

            <a id="logo-container" href="#" class="white-text brand-logo">Wololol</a>
            <ul class="right hide-on-med-and-down">
                <div class="tooltipped left input-field" data-position="bottom" data-delay="50" data-tooltip="Ingrese nombre de invocador a buscar">
                    <input id="search" placeholder="Summoner Name" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
                <li class="active waves-effect waves-cyan"><a href="index.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Información de perfil de un usuario"><i class="white-text material-icons">person_pin</i></a></li>
                <li class="waves-effect waves-cyan"><a href="curriculum.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sección de chat, debe loguearse"><i class="white-text material-icons">chat</i></a></li>
                <li class="waves-effect waves-cyan"><a href="contacto.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Información estática del juego"><i class="white-text material-icons">dashboard</i></a></li>
                <li class="waves-effect waves-cyan"><a href="contacto.html" class="white-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="El 14/10/15, a partir de las 02:30 de Buenos Aires / 02:30 de Santiago, se desactivarán las colas clasificatorias en preparación para la actualización 5.20. A las 04:00 de Buenos Aires / 04:00 de Santiago, se apagarán los servidores y todas las partidas en curso terminarán en empate y no se guardarán datos de las mismas. Estimamos que los campos de batalla no estarán disponibles por 3 horas."><i class="left white-text material-icons">check_box</i>Online</a></li>

                <li class="waves-effect waves-cyan"><a href="contacto.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ingresar al sistema"><i class="white-text material-icons">arrow_forward</i></a></li>

            </ul>


            <ul style="left: -27px;" id="nav-mobile" class="blue side-nav">
                <li class="active"><a href="index.html" class="waves-effect waves-cyan tooltipped" data-position="right" data-delay="50" data-tooltip="Información de perfil de un usuario"><i class="white-text material-icons">person_pin</i></a></li>
                <li class=""><a href="curriculum.html" class="waves-effect waves-cyan tooltipped" data-position="right" data-delay="50" data-tooltip="Sección de chat, debe loguearse"><i class="white-text material-icons">chat</i></a></li>
                <li class=""><a href="contacto.html" class="waves-effect waves-cyan tooltipped" data-position="right" data-delay="50" data-tooltip="Información estática del juego"><i class="white-text material-icons">dashboard</i></a></li>
                <li class=""><a href="contacto.html" class="waves-effect waves-cyan tooltipped" data-position="right" data-delay="50" data-tooltip="Ingresar al sistema"><i class="white-text material-icons">arrow_forward</i></a></li>
            </ul>
            <a  class="waves-effect waves-cyan circle button-collapse" style="margin:0 0 0 -10%;" href="#" data-activates="nav-mobile"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {% block contenido %}
    {% endblock %}

    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college
                        students working on this project like it's our full time job. Any amount
                        would help support and continue development on this project and is
                        greatly appreciated.</p>


                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Settings</h5>
                        <ul>
                            <li><a class="white-text" href="#%21">Link 1</a></li>
                            <li><a class="white-text" href="#%21">Link 2</a></li>
                            <li><a class="white-text" href="#%21">Link 3</a></li>
                            <li><a class="white-text" href="#%21">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="#%21">Link 1</a></li>
                            <li><a class="white-text" href="#%21">Link 2</a></li>
                            <li><a class="white-text" href="#%21">Link 3</a></li>
                            <li><a class="white-text" href="#%21">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com/">Materialize</a>
                </div>
            </div>
        </footer>


        <!--  Scripts-->
        <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script src="{% static 'js/init.js' %}"></script>

        {% block scripts %}
        {% endblock %}

        <div class="hiddendiv common"></div><div style="left: 0px;" class="drag-target"></div></body></html>
