<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Wololol</title>
        <link rel="icon" type=".png" href="img/titulo.png">
        <!--Import materialize.css-->
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>  
        <nav class="blue" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="index.html" class="white-text truncate brand-logo">Wololol</a>               
                <ul class="right hide-on-med-and-down">

                    <div class="tooltipped left input-field" data-position="bottom" data-delay="50" data-tooltip="Ingrese nombre de invocador a buscar">
                        <input id="search" placeholder="Summoner Name" type="search" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>                    
                    <li class="active waves-effect waves-cyan"><a href="index.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Información de perfil de un usuario"><i class="white-text material-icons">person_pin</i></a></li>
                    <li class="waves-effect waves-cyan"><a href="curriculum.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sección de chat, debe loguearse"><i class="white-text material-icons">chat</i></a></li>
                    <li class="waves-effect waves-cyan"><a href="contacto.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Información estática del juego"><i class="white-text material-icons">dashboard</i></a></li>
                    <li class="waves-effect waves-cyan"><a href="contacto.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ingresar al sistema"><i class="white-text material-icons">arrow_forward</i></a></li>
                </ul>



                <ul  class="side-nav" style="left: -27px;" id="nav-mobile">
                    <li class="active"><a class="waves-effect waves-cyan" href="index.html"><i class="mdi-action-home left"></i>Home</a></li>
                    <li><a class="waves-effect waves-cyan" href="curriculum.html"><i class="mdi-action-perm-contact-cal left"></i>Currículum</a></li>
                    <li><a class="waves-effect waves-cyan" href="index.html" ><i class="mdi-action-list left"></i>Ejercicios</a></li>
                    <li><a class="waves-effect waves-cyan" href="contacto.html"><i class="mdi-communication-textsms left"></i>Contacto</a></li></ul>
                <a  class="waves-effect circle button-collapse" style="margin:0 0 0 -50px;" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a></div>
        </nav>
      <div class="container">
            <div class="section">
                <div class="row center">

                    <h3><i class="medium mdi-image-filter-none cyan-text"></i></h3>
                    <h4>Materializer</h4>
                    <p class="light">El Material Design es una filosofía de diseño ideada por los desarrolladores de Android, Materializer es un framework que permite el uso de material design en páginas web de forma fácil y sencilla</p>
                    <p class="light"><b>A su vez, este sitio web es completamente adaptativo, gracias a materializer. Si usted entra con un celular o hace zoom, podrá utilizar la barra de navegación lateral y el resto de los elementos se ajustarán a su pantalla.</b></p><p class="light">Estos son algunos ejemplos de lo que se puede hacer con Materializer.</p>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="waves-effect waves-cyan collapsible-header"><i class="mdi-image-filter-drama"></i>Switchs</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p>  <form action="#">
                                <div class="row center">
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">No rellenado</label>


                                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                                    <label for="filled-in-box">Relleno</label>

                                    </form>
                                <div class="switch">
                                    <label>
                                        Off
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="waves-effect waves-cyan collapsible-header"><i class="mdi-maps-place"></i>Barras de Carga</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p>  <div class="progress">
                                <div class="indeterminate"></div>
                                </div></div>

                        </li>
                        <li>
                            <div class="waves-effect waves-cyan collapsible-header"><i class="mdi-social-whatshot"></i>Imágenes</div>
                            <div class="collapsible-body"><div class="row center"><p>¿Ni que fuera a sobrecargar más esta página no? Bueno un poquito más
                                <br/><small>PD: Altos botones.</small></p>
                                <div><a class="waves-effect waves-light cyan btn tooltipped" data-position="right" data-delay="50" data-tooltip="Tostadas!" target="_blank" onclick="toast('Soy una tostada, Deslizame!')"> <i class="mdi-navigation-arrow-f orward left"></i>Make Tostadas.</a></div></div>

                            </div>
                        </li>
                    </ul>

                    <a class="waves-effect waves-light cyan btn tooltipped" data-position="right" data-delay="50" data-tooltip="www.materializecss.com" target="_blank" href="http://materializecss.com/"> <i class="mdi-navigation-arrow-f orward left"></i>Materializer</a> 


                </div>

            </div>

        <div id="index-banner" class="parallax-container">
            <div class="row center">
                <div class="container" >
                    <br><br>
                    <h1 class="header center cyan-text light">Ejercicios</h1>
                    <div class="row center">
                        <h5 class="header col s12">Comience a evaluar mis ejercicios.</h5>
                        <p>I'm watching you.</p>
                    </div >
                    <div class="row center">
                        <div class=""><a href="calculadora.html" style="margin:0px 7px 7px 0px;" class="col s12 m4 l3 btn cyan waves-effect waves-light lighten-1">Calculadora</a></div>
                        <div class=""><a href="cronometro.html" style="margin:0px 7px 7px 0px;" class="col s12 m4 l2 btn cyan waves-effect waves-light lighten-1">Cronómetro</a></div>
                        <div class=""><a href="conversor.html" style="margin:0px 7px 7px 0px;" class="col s12 m4 l2 btn cyan waves-effect waves-light lighten-1">Conversor</a></div>
                        <div class=""><a href="galeria.html" style="margin:0px 7px 7px 0px;" class="col s12 m4 l2   btn cyan waves-effect waves-light lighten-1">Galería</a></div>
                        <div class=""><a href="botonfalso.html" style="margin:0px 7px 7px 0px;" class="col s12 m4 l2 btn cyan waves-effect waves-light lighten-1">Botón Falso</a></div>


                    </div>

                </div>
            </div>
            <div class="parallax"><img src="img/2.jpg" alt="Unsplashed background img 2"></div>
        </div>

    <div class="parallax-container valign-wrapper">
        <div class="row center">
            <div class="container">
                <div class="row center">
                    <h3><i class="medium mdi-navigation-arrow-forward cyan-text"></i></h3>
                    <h4>Hay que saber mirar hacia el futuro</h4>
                    <p class="left-align light">Así como la gente muere y los bebes nacen, mi antigua página web fue descartada por considerarla horripilante y de mal gusto, sin embargo usted puede acceder a ella desde aquí, a diferencia de esta en la que use la ayuda de Materializer, en esa hice todos los efectos por mi cuenta, desde el zoom de las imágenes hasta los bellos botones y barra de navegación. </p>
                    <a class="waves-effect waves-light cyan btn tooltipped" data-position="right" data-delay="50" data-tooltip="Enlace al Blog Antiguo" href="BlogViejo/index.html" target="_blank"><i class="mdi-navigation-arrow-forward left"></i>Antiguo Blog</a>       
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/1.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row ">
                <div class="col s12 center">
                    <h3><i class="medium mdi-av-games cyan-text"></i></h3>
                    <h4>Galería de Arte en Videojuegos</h4>
                    <p class="light">No sabía con que rellenar la página así que voy a poner imágenes de juegos :P </p><small class="light">PD: Toque las imágenes</small>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="img/gtav1.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Es esto posible?<i class="mdi-navigation-more-vert right"></i></span>

                            <p><a target="_blank" class="waves-effect tooltipped" data-position="right" data-delay="50" data-tooltip="Vea más fotos"href="http://www.vidaextra.com/galeria/gta-v-noche/1/">Enlace a más fotos.</a></p>
                        </div>
                        <div style="display: none; transform: translateY(0px);" class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Screenshots de GTA V para PC <i class="mdi-navigation-close right"></i></span>
                            <p>Así es, la capacidad de renderizado a tiempo real, llamese motores 3d, ya están llegando a imitar a los motores de renderizado realista que demoran horas en completar su trazo de rayos, en unos cuantos milisegundos. Estás imágenes son sacadas directamente del GTA V para pc, sin embargo en están en condiciones especiales, con lluvia en su mayoría y sobre el asfalto, ya que no todo en GTA V es tan realista.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="img/ffx.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Zanarkand<i class="mdi-navigation-more-vert right"></i></span>

                            <p><a target="_blank" class="waves-effect tooltipped" data-position="right" data-delay="50" data-tooltip="Square Enix official Page" href="http://www.square-enix.com/">Square-Enix</a></p>
                        </div>
                        <div style="display: none; transform: translateY(0px);" class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Zanarkand la ciudad utópica <i class="mdi-navigation-close right"></i></span>
                            <p>Zanarkand, la legendaria ciudad de los mil años en Final Fantasy X, que es destruida primero por la criatura que encarna a los pecados: Sihn, la ciudad más prolífera y avanzada en cuanto a tecnología e industria queda hecha pedazos junto a todos sus habitantes.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="img/dmc3.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Devil May Cry 3<i class="mdi-navigation-more-vert right"></i></span>

                            <p><a target="_blank" class="waves-effect tooltipped" data-position="right" data-delay="50" data-tooltip="Los chinos lo hacen todo" href="http://www.chinos.com/">Chinos</a></p>
                        </div>
                        <div style="display: none; transform: translateY(0px);" class="card-reveal">
                            <span class="card-title grey-text text-darken-4">La Imperfección Perfecta<i class="mdi-navigation-close right"></i></span>
                            <p>Un juego con un sentido tan faltante como su historia, que a la vez posee una jugabilidad, y escenarios dignos de admirar.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="card-panel cyan">
                        <span class="white-text">Mira soy una tarjetita re loca, a re loca. Estoy re dura mira, no me moves, no me moves con nada.
                        </span>
                    </div>
                </div>
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="img/skyrim.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Skyrim<i class="mdi-navigation-more-vert right"></i></span>

                            <p><a target="_blank" class="waves-effect tooltipped" data-position="right" data-delay="50" data-tooltip="Bethesda Official Page" href="http://bethsoft.com/es-es">Bethesda</a></p>
                        </div>
                        <div style="display: none; transform: translateY(0px);" class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Ya Me Aburrí de Inventar Títulos<i class="mdi-navigation-close right"></i></span>
                            <p>Ah.. Skyrim, que buen juego. 42 Km cuadrados de un estado carcomido por la guerra civil entre el imperio y los rebeldes, a esto se le suman el levantamiento de los dragones. Un juego con un mundo tan amplío como las consolas de 2011 lo permitían.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="row center">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Landscape de Skyrim, mirando al Monte Alto Hrothgar.</h5>
                    <p>¿No se pone triste de no haber jugado a semejante obra de arte?¿Cómo hace para no llorar cada noche por no haber jugado a tal obra maestra?</p>                        
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/3.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text" >Mateo de Mayo</h5>
                    <p class="grey-text text-lighten-4">Este blog es un ejercicio para la materia Programación III de 6°C del Instituo Técnico Salesiano Villada.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="waves-effect waves-light grey-text text-lighten-3 tooltipped" style="padding: 0 7px 0 7px;" target="_blank" data-position="right" data-delay="50" data-tooltip="Enlace al Github Mateosss" href="http://github.com/mateosss/">Github</a></li>
                        <li><a class="waves-effect waves-light grey-text text-lighten-3 tooltipped" style="padding: 0 7px 0 7px;" target="_blank" data-position="right" data-delay="50" data-tooltip="Mateo de Mayo - Canal" href="https://www.youtube.com/c/MateodeMayo">Youtube</a></li>
                        <li><a class="waves-effect waves-light grey-text text-lighten-3 tooltipped" style="padding: 0 7px 0 7px;" target="_blank" data-position="right" data-delay="50" data-tooltip="Markyoun!" href="http://github.com/mateosss/markyoun/">MarkYoun!</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Mayo 2015 (El mes, no mi apellido).
                <a class="waves-effect waves-light grey-text text-lighten-4 right tooltipped" data-position="right" data-delay="50" data-tooltip="Blog Antiguo" style="padding:0 7px 0 7px;" href="BlogViejo/index.html" target="_blank">Ver en el Formato Antiguo</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/init.js"></script>
    <script>
        function toast(toast){
            Materialize.toast(toast, 4000);
        }
    </script>
    </body>
</html>