{% extends 'base.html' %}
{% load staticfiles %}
{% load lolwc_tags %}
{% block contenido %}
<div class="section">
    <div class="container">

        <div class="col s12 m12 l12">
            <div class="blue card tooltipped" data-position="bottom" data-delay="50" data-tooltip="Información del Campeón">
                <div class="card-image waves-effect waves-block waves-light">
                    <img id="mostPlayedChampBanerImg" class="hide-on-small-only activator" src="{% static 'img/baner/' %}{{ info.mostPlayedChampInfo.mostPlayedChampId }}.jpg"/>
                </div>
                <div class="card-content activator">
                    <!--                        TODOhttp://ddragon.leagueoflegends.com/cdn/5.20.1/img/profileicon/588.png-->
                    <img id="summonerImg" src="{% static 'img/sum/' %}{{ info.summonerInfo.summonerImg }}.png" class="summonerImg"/>
                    <span id="summonerName" class="summonerName card-title activator white-text">{{ info.summonerInfo.summonerName }}
                        <i class="small material-icons right" style="position:absolute;">keyboard_arrow_up</i>
                        <span id="kda" class="hide-on-med-and-down right activator white-text"><span id="summonerWinrate" class="pink-text ">{{ info.summonerInfo.summonerWinrate }}%</span> Ranked Wins</span>
                        <span id="killdeathassist" class="hide-on-med-and-down right card-title activator white-text">KDA: <span id="summonerKdaRatio" class="blue-text">{{ info.summonerInfo.summonerKdaRatio }}</span> - <span id="summonerKills" class="green-text">{{ info.summonerInfo.summonerKills }}</span><span id="summonerDeaths" class="red-text">/{{ info.summonerInfo.summonerDeaths }}</span><span id="summonerAssists" class="yellow-text">/{{ info.summonerInfo.summonerAssists }}</span></span>
                    </span><br>
                    <img id="summonerLeagueImg" class="summonerLeagueImg" src="{% static 'img/tier/' %}{{ info.summonerInfo.summonerLeague }}_{{ info.summonerInfo.summonerDivision }}.png"/><span id="summonerDescription" class="summonerDescription activator white-text"><span id="summonerLeague">{{ info.summonerInfo.summonerLeague }}</span> <span id="summonerDivision">{{ info.summonerInfo.summonerDivision }}</span> - {{ info.summonerInfo.summonerServer }}</span>
                </div>

                <div style="display: none; transform: translateY(0px);" class="blue card-reveal">
                    <span class="white-text card-title text-darken-4">
                        <img id="mostPlayedChampImg" src="{% static 'img/champ/' %}{{ info.mostPlayedChampInfo.mostPlayedChampId }}.png" class="summonerImg"/>
                        <span class="hMostPlayedChamp"><span id="mostPlayedChampName">{{ info.mostPlayedChampInfo.mostPlayedChampName }}</span> - Campeón más jugado.</span>
                        <i class="right material-icons">close</i>
                    </span>
                    <span class="white-text">Cantidad de Partidas: </span><span id="mostPlayedChampMatchesCount" class="blue-text">{{ info.mostPlayedChampInfo.mostPlayedChampMatchesCount }}</span><br>
                    <span class="white-text">Cantidad de Victorias: </span><span id="mostPlayedChampMatchesWinCount" class="green-text">{{ info.mostPlayedChampInfo.mostPlayedChampMatchesWinCount }}</span><br>
                    <span class="white-text">Cantidad de Derrotas: </span><span id="mostPlayedChampMatchesLooseCount" class="red-text">{{ info.mostPlayedChampInfo.mostPlayedChampMatchesLoseCount }}</span><br>
                    <span class="white-text">Índice de KDA: </span><span id="mostPlayedChampKdaRatio" class="blue-text">{{ info.mostPlayedChampInfo.mostPlayedChampKdaRatio }}</span><br>
                    <span class="white-text">Cantidad de Asesinatos Promedio: </span><span id="mostPlayedChampKills" class="green-text">{{ info.mostPlayedChampInfo.mostPlayedChampKills }}</span><br>
                    <span class="white-text">Cantidad de Muertes Promedio: </span><span id="mostPlayedChampDeaths" class="red-text">{{ info.mostPlayedChampInfo.mostPlayedChampDeaths }}</span><br>
                    <span class="white-text">Cantidad de Asistencias Promedio: </span><span id="mostPlayedChampAssist" class="blue-text">{{ info.mostPlayedChampInfo.mostPlayedChampAssist }}</span><br>
                    <span class="white-text">Cantidad de Subditos Promedio: </span><span id="mostPlayedChampCs" class="purple-text">{{ info.mostPlayedChampInfo.mostPlayedChampCs }}</span><br>
                    <span class="white-text">Cantidad de Oro Promedio: </span><span id="mostPlayedChampGold" class="yellow-text">{{ info.mostPlayedChampInfo.mostPlayedChampGold }} K</span><br>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="card darkblue row">

            <ul class="z-depth-1 darkblue tabs card" style="width: 100%;">
                <li style="width: 20%;" class="tab col"><a class="active hex-text" href="#tabProfile"><img class="mid" src="{% static 'img/profile.svg' %}" width="30px" draggable="false"/></a></li>
                <li style="width: 20%;" class="tab col"><a class="" href="#tabLeague"><img class="mid" src="{% static 'img/league.svg' %}" width="30px" draggable="false"/></a></li>
                <li style="width: 20%;" class="tab col"><a class="" href="#tabHistory"><img class="mid" src="{% static 'img/history.svg' %}" width="30px" draggable="false"/></a></li>
                <li style="width: 20%;" class="tab col"><a class="" href="#tabRunes"><img class="mid" src="{% static 'img/rune.svg' %}" width="30px" draggable="false"/></a></li>
                <li style="width: 20%;" class="tab col"><a class="" href="#tabMasteries"><img class="mid" src="{% static 'img/mastery.svg' %}" width="30px" draggable="false"/></a></li>
                <div style="right: 687px; left: 342px;" class="indicator"></div>
            </ul>
            <div style="display: block;" id="tabProfile" class="blue col s12">
                <div class="text-white col m4 l4 s12">
                    <h4 class="row center white-text">Team 3v3</h4>
                    <div class="row center"><img src="{% static 'img/tier/' %}{{ info.profile.league3v3Tier }}_{{ info.profile.league3v3Division }}.png"/></div>
                    <h5 class="white-text row center">{{ info.profile.league3v3Tier }} {{ info.profile.league3v3Division }}</h5>
                    <h6 class="white-text row center">{{ info.profile.league3v3Lp }} LP</h6>
                    <h5 class="white-text row center">{{ info.profile.league3v3Name }}</h5>
                </div>
                <div class="card lightblue text-white col m4 l4 s12">
                    <h4 class="row center white-text">Solo/Duo Queue</h4>
                    <div class="row center"><img src="{% static 'img/tier/' %}{{ info.profile.leagueSoloQTier }}_{{ info.profile.leagueSoloQDivision }}.png"/></div>
                    <h5 class="white-text row center">{{ info.profile.leagueSoloQTier }} {{ info.profile.leagueSoloQDivision }}</h5>
                    <h6 class="white-text row center">{{ info.profile.leagueSoloQLp }} LP</h6>
                    <h5 class="white-text row center">{{ info.profile.leagueSoloQName }}</h5>
                </div>
                <div class="text-white col m4 l4 s12">
                    <h4 class="row center white-text">Team 5v5</h4>
                    <div class="row center"><img src="{% static 'img/tier/' %}{{ info.profile.leagueTeamTier }}_{{ info.profile.leagueTeamDivision }}.png"/></div>
                    <h5 class="white-text row center">{{ info.profile.leagueTeamTier }} {{ info.profile.leagueTeamDivision }}</h5>
                    <h6 class="white-text row center">{{ info.profile.leagueTeamLp }} LP</h6>
                    <h5 class="white-text row center">{{ info.profile.leagueTeamName }}</h5>
                </div>

            </div>
            <div style="display: none;" id="tabLeague" class="blue col s12">
                <div class="row center">
                    <div class="row center">
                        <img id="summonerLeagueTabImg" src="{% static 'img/tier/' %}{{ info.league.summonerLeagueTabRank }}_{{ info.league.summonerLeagueTabDivision }}.png"/>
                    </div>
                    <div class="mid row center"><span id="summonerLeagueTabName" class="white-text large-text">
                        <span id="summonerLeagueTabRank">{{ info.league.summonerLeagueTabRank }} {{ info.league.summonerLeagueTabDivision }}</span>
                    </span><br>
                    <span id="summonerLeagueTabName" class="white-text large-text">{{ info.league.summonerLeagueTabName }}</span>
                </div>
            </div>
            <table id="summonerLeagueTabPList" class="card blue white-text responsive-table striped centered">
                <thead>
                    <tr>
                        <th data-field="summonerLeagueTabPListRank">Rank</th>
                        <th data-field="summonerLeagueTabPListSummoner">Summoner</th>
                        <th data-field="summonerLeagueTabPListExtra">Tips</th>
                        <th data-field="summonerLeagueTabPListWins">Victorias</th>
                        <th data-field="summonerLeagueTabPPromoInfo">Promoción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in info.league.summonerLeagueTabPList %}
                    <tr>
                        <td>{{ i.summonerLeagueTabPListRank }}</td>
                        <td><img class="left listImg mid" src="{% static 'img/sum/' %}{{ i.summonerLeagueTabPListImg }}.png"/><a class="left white-text waves-effect" href="#">{{ i.summonerLeagueTabPListName }}</a></td>
                        <td>
                            <i class="material-icons {% if i.summonerLeagueTabPListIsRecent == "0" %}dark-text{% endif %} tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i>
                            <i class="material-icons {% if i.summonerLeagueTabPListIsOnFire == "0" %}dark-text{% endif %} tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>{{ i.summonerLeagueTabPListWins }}</td>
                            <td>
                                {% for j in i.summonerLeagueTabPPromo%}
                                {% if j == "1" %}<i class="material-icons">done</i>{% endif %}
                                {% if j == "0" %}<i class="material-icons">close</i>{% endif %}
                                {% if j == "N" %}<i class="dark-text material-icons">radio_button_unchecked</i>{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table id="summonerLeagueTabList" class="card blue white-text responsive-table striped centered">
                    <thead>
                        <tr>
                            <th data-field="summonerLeagueTabListRank">Rank</th>
                            <th data-field="summonerLeagueTabListSummoner">Summoner</th>
                            <th data-field="summonerLeagueTabListExtra">Tips</th>
                            <th data-field="summonerLeagueTabListWins">Victorias</th>
                            <th data-field="summonerLeagueTabLP">Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in info.league.summonerLeagueTabList %}
                        <tr>
                            <td>{{ i.summonerLeagueTabListRank }}</td>
                            <td><img class="left listImg mid" src="{% static 'img/sum/' %}{{ i.summonerLeagueTabListImg }}.png"/><a class="left white-text waves-effect" href="#">{{ i.summonerLeagueTabListName }}</a></td>
                            <td>
                                <i class="material-icons {% if i.summonerLeagueTabListIsRecent == "0" %}dark-text{% endif %} tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i>
                                <i class="material-icons {% if i.summonerLeagueTabListIsOnFire == "0" %}dark-text{% endif %} tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i>
                            </td>
                            <td>{{ i.summonerLeagueTabListWins }}</td>
                            <td>{{ i.summonerLeagueTabListLP }} LP</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
            <div style="display: none;" id="tabHistory" class="blue col s12">
                {% for i in info.history %}
                <div class="darkblue card white-text col s12 historyCard">
                    <div id="isWin" class="{% if i.isWin == "1" %}green{% endif %}{% if i.isWin == "0" %}red{% endif %} hLabel"></div>
                    <div class="hImg">
                        <div id="hImg" style="border-radius:24px;text-align:center;padding-top:74px;width:96px;height:96px;background: transparent none repeat scroll center center / 100px auto;background-image: url('{% static 'img/hchamp/' %}{{i.champId}}.png');">
                            <div style="border-radius:0 0 80px 80px;width:100%;background-color:rgba(0,0,0,0.5);"><a id="hChamp" class="white-text" href="#">{{i.champName|title}}</a></div>
                        </div>
                    </div>
                    <div class="hSum">
                        <img id="hSum1" style="width:45px;height:45px;border-radius: 8px;" src="{% static 'img/spell/' %}{{i.spell1}}.png"/><br>
                        <img id="hSum2" style="width:45px;height:45px;border-radius: 8px;" src="{% static 'img/spell/' %}{{i.spell2}}.png"/>
                    </div>
                    <div class="hMatch">
                        <h4 id="hWinText" class="truncate">{% if i.isWin == "1" %}<span class="green-text">Victoria</span>{% endif %}{% if i.isWin == "0" %}<span class="red-text">Derrota</span>{% endif %}</h4>
                        <h6 id="hMap" class="truncate"><strong>{{ i.map }}</strong></h6>
                        <p id="hType" class="truncate"><span>{{ i.gameSubType }}</span></p>
                    </div>
                    <div class="hStats">
                        <div class="truncate" style="width:100%;height:49px;">
                            <img id="item1" class="hItem" src="{% static 'img/item/' %}{{ i.item1 }}.png"/>
                            <img id="item2" class="hItem" src="{% static 'img/item/' %}{{ i.item2 }}.png"/>
                            <img id="item3" class="hItem" src="{% static 'img/item/' %}{{ i.item3 }}.png"/>
                            <img id="item4" class="hItem" src="{% static 'img/item/' %}{{ i.item4 }}.png"/>
                            <img id="item5" class="hItem" src="{% static 'img/item/' %}{{ i.item5 }}.png"/>
                            <img id="item6" class="hItem" src="{% static 'img/item/' %}{{ i.item6 }}.png"/>
                            <img id="item7" class="hItem" src="{% static 'img/item/' %}{{ i.item7 }}.png"/>
                        </div>
                        <div class="truncate" style="width:100%;height:49px;">
                            <br>
                            <strong class="col l4 s4 m4 row center large-text"><i class="mid material-icons">assessment</i><span id="hKills">{{ i.kills }}</span>/<span id="hDeaths">{{ i.deaths }}</span>/<span id="hAssists">{{ i.assists }}</span></strong>
                            <strong class="col l4 s4 m4 row center large-text"><i class="mid material-icons">attach_money</i><span id="hGold">{{ i.goldGained }}</span>k</strong>
                            <strong class="col l4 s4 m4 row center large-text"><i class="mid material-icons">turned_in_not</i><span id="hCreeps">{{ i.creepScore }}</span></strong>
                        </div>

                    </div>
                    <div class="hInfo">
                        <strong class="center mid-text"><i class="mid material-icons">timer</i>24:15</strong><br>
                        <strong class="center mid-text"><i class="mid material-icons">access_time</i>{{ i.createDate }} </strong><br>
                        <strong class="left mid-text">>>>{{ i.createTime }}</strong><br>
                        <strong class="left mid-text"><i class="mid material-icons">trending_up</i>{{ i.ipEarned }} PI</strong>

                    </div>


                </div>
                {% endfor %}
            </div>
            <div style="display: none;" id="tabRunes" class="blue col s12">
                <br>
                <div class = "row col s12 m6 l6">
                    {% for i,val in info.runes.pages %}
                    {% if not forloop.counter|divisibleby:2 %}
                    <div class="hoverable card-panel {% if info.runes.activePage == i %}darkblue{% else %}lightblue{% endif %} white-text">
                        <h5 class="card-title left"><strong>{{forloop.counter}}</strong></h5>
                        <h5 class="card-title center"><strong>{% if info.runes.activePage == i %}[{{i}}]{% else %}{{i}}{% endif %}</strong></h5>
                        <table>
                            <tbody>
                                {% for j in val %}
                                <tr>
                                    <td><img width="48px" src="{% static 'img/rune/' %}{{val|getItem:j|getIndex:0}}"/></td>
                                    <td><span>x{{val|getItem:j|getIndex:2}}</span></td>
                                    <td><span>{{val|getItem:j|getIndex:1}}</span></td>
                                    <td><strong>+{{val|getItem:j|getIndex:3}}</strong></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class = "row col s12 m6 l6">
                    {% for i,val in info.runes.pages %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="hoverable card-panel {% if info.runes.activePage == i %}darkblue{% else %}lightblue{% endif %} white-text">
                        <h5 class="card-title left"><strong>{{forloop.counter}}</strong></h5>
                        <h5 class="card-title center"><strong>{% if info.runes.activePage == i %}[{{i}}]{% else %}{{i}}{% endif %}</strong></h5>
                        <table>
                            <tbody>
                                {% for j in val %}
                                <tr>
                                    <td><img width="48px" src="{% static 'img/rune/' %}{{val|getItem:j|getIndex:0}}"/></td>
                                    <td><span>x{{val|getItem:j|getIndex:1}}</span></td>
                                    <td><span>{{val|getItem:j|getIndex:0}}</span></td>
                                    <td><strong>+{{val|getItem:j|getIndex:2}}</strong></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
            <div style="display: none;" id="tabMasteries" class="blue col s12">
                <table class="striped white-text">
                    <thead>
                        <tr>
                            <th data-field="nombre"><i class="mid material-icons">class</i> Paginas</th>
                            <th data-field="ferocidad">Ferocidad</th>
                            <th data-field="astucia">Astucia</th>
                            <th data-field="valor">Valor</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i, val in info.masteries.masteries %}
                        <tr>
                            <td>{% if i == info.masteries.activePage %}<i class="mid material-icons tooltipped" data-position="bottom" data-tooltip="Página Activa">keyboard_arrow_right</i>[{{i}}]{% else %}{{i}}{% endif %}</td>
                            <td>{{val|getIndex:0}}</td>
                            <td>{{val|getIndex:1}}</td>
                            <td>{{val|getIndex:2}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
{% endblock %}
