{% load staticfiles %}
{% load lolwc_tags %}
<html>
<head>
    <title>Profile</title>
</head>
<body>

    <!-- Summoner Info -->
    <img id="summoner_img" src="#"/><br>
    <span id="summoner_name">{{ nombre }}</span><br>
    <span id="summoner_league_name">{{ liga }} - {{ division }}</span><br>
    <img src="summoner_league_img"/><br>
    <span id="summoner_kda">{{ kills }}K / {{ deaths }}D / {{ assists }}A</span><br>
    <span id="summoner_wins">Wins: {{ wins }}</span><br>
    <span id="summoner_loses">Loses: {{ losses }}</span><br>
    <br><hr><br>

    <!-- Most Played Champion -->
    <img id="mostPlayedChamp_img" src="#"/><br>
    <span id="mostPlayedChamp_name">Nombre</span><br>
    <span id="mostPlayedChamp_kda_coefiecient">Coeficiente de kda</span><br>
    <span id="mostPlayedChamp_kda">K/D/A</span><br>
    <span id="mostPlayedChamp_cs">Minions</span><br>
    <span id="mostPlayedChamp_gold">Oro Promedio</span><br>
    <span id="mostPlayedChamp_matches_count">Numero de Partidas</span><br>
    <span id="mostPlayedChamp_winrate_per100">Win Rate Porcentaje</span><br>
    <span id="mostPlayedChamp_winrate_count">Win Rate</span><br>
    <span id="mostPlayedChamp_loserate_per100">Loose Rate Porcentaje</span><br>
    <span id="mostPlayedChamp_loserate_count">Loose Rate</span><br>
    <br><hr><br>

    <!-- Free Champions -->
    {% for i in freeChampsID %}
    <img id="freeChamp_1" src="#"> <!-- for all free champions -->
    <span id="FreeChamp_name">{{ i }}</span><br>
    {% endfor %}


    <br><hr><br>

    <!-- Sales-->
    <img id="skinSale_background" src="#"><span id="skinSale_name">Name</span> <!-- For all offers-->
    <span id="skinSale_price">RP</span><span id="skinSale_off">X% off</span>
    <br><hr><br>

    <!-- Featured Games-->
    {% for k in '01234' %}
    <span id="type">Clasificatoria</span><br>
    {% getTime k minutos segundos %}
    {% getChampions k champPartida %}
    <span>VS</span><br>
    {% getChampionsb k champPartida %}
    {% endfor %}

    <br><hr><br>
    <!-- History-->
    <img id="history_champ_img" src="#"><span id="history_champ_name">Name</span>
    <!--link champ-->
    <span id="history_level_champ">Level Champ</span><br>
    <img id="history_spell1_img" src="#"><br>
    <!--link spell1-->
    <img id="history_spell2_champ_img" src="#"><br>
    <!--link spell2-->
    <span id="history_win_or_def">Win or Def</span><br>
    <span id="history_map">map</span><br>
    <span id="histoy_game_type">tipo de partida</span><br>
    <span id="history_score">score</span><br>
    <span id="history_gold">oro</span><br>
    <span id="history_creeps">minions</span><br>
    <span id="history_item1">item</span><br>

</body>
