{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}
<div class="section">
    <div class="container">
        <div class="col s12 m12 l12">
            <div class="blue card tooltipped" data-position="bottom" data-delay="50" data-tooltip="Información del Campeón">
                <div class="card-image waves-effect waves-block waves-light">
                    <img id="mostPlayedChampBanerImg" class="hide-on-small-only activator" src="{% static 'img/rivenbaner.jpg' %}"/>
                </div>
                <div class="card-content activator">
                    <!--                        TODOhttp://ddragon.leagueoflegends.com/cdn/5.20.1/img/profileicon/588.png-->
                    <img id="summonerImg" src="{% static 'img/612.png' %}" class="summonerImg"/>
                    <span id="summonerName" class="summonerName card-title activator white-text">Sad Jocker King
                        <i class="small material-icons right" style="position:absolute;">keyboard_arrow_up</i>
                        <span id="kda" class="hide-on-med-and-down right activator white-text"><span id="summonerWinrate" class="pink-text ">55%</span> Ranked Wins</span>
                        <span id="killdeathassist" class="hide-on-med-and-down right card-title activator white-text">KDA: <span id="summonerKdaRatio" class="blue-text">3.66</span> - <span id="summonerKills" class="green-text">12.5</span><span id="summonerDeaths" class="red-text">/19.2</span><span id="summonerAssists" class="yellow-text">/9.2</span></span>
                    </span><br>
                    <img id="summonerLeagueImg" class="summonerLeagueImg" src="{% static 'img/silver_1.png' %}"/><span id="summonerDescription" class="summonerDescription activator white-text"><span id="summonerLeague">Silver</span> <span id="summonerDivision">I</span> - LAS</span>
                </div>

                <div style="display: none; transform: translateY(0px);" class="blue card-reveal">
                    <span class="white-text card-title text-darken-4">
                        <img id="mostPlayedChampImg" src="{% static 'img/92.png' %}" class="summonerImg"/>
                        <span class="hMostPlayedChamp"><span id="mostPlayedChampName">Riven</span> - Campeón más jugado.</span>
                        <i class="right material-icons">close</i>
                    </span>
                    <span class="white-text">Cantidad de Partidas: </span><span id="mostPlayedChampMatchesCount" class="blue-text">100</span><br>
                    <span class="white-text">Cantidad de Victorias: </span><span id="mostPlayedChampMatchesWinCount" class="green-text">72</span><br>
                    <span class="white-text">Cantidad de Derrotas: </span><span id="mostPlayedChampMatchesLooseCount" class="red-text">28</span><br>
                    <span class="white-text">Índice de KDA: </span><span id="mostPlayedChampKdaRatio" class="blue-text">3.12</span><br>
                    <span class="white-text">Cantidad de Asesinatos Promedio: </span><span id="mostPlayedChampKills" class="green-text">12.4</span><br>
                    <span class="white-text">Cantidad de Muertes Promedio: </span><span id="mostPlayedChampDeaths" class="red-text">3.3</span><br>
                    <span class="white-text">Cantidad de Asistencias Promedio: </span><span id="mostPlayedChampAssist" class="blue-text">12.3</span><br>
                    <span class="white-text">Cantidad de Súbidtos Promedio: </span><span id="mostPlayedChampCs" class="purple-text">203</span><br>
                    <span class="white-text">Cantidad de Oro Promedio: </span><span id="mostPlayedChampGold" class="yellow-text">18k</span><br>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="card darkblue row">
            <ul class="z-depth-1 darkblue tabs card" style="width: 100%;">
                <li style="width: 20%;" class="tab col"><a class="active hex-text" href="#tabProfile">Perfil</a></li>
                <li style="width: 20%;" class="tab col"><a class="" href="#tabLeague">Liga</a></li>
                <li style="width: 20%;" class="tab col"><a class="" href="#tabHistory">Historial</a></li>
                <li style="width: 20%;" class="tab col"><a class="" href="#tabRunes">Runas</a></li>
                <li style="width: 20%;" class="tab col"><a class="" href="#tabMasteries">Maestrías</a></li>
                <div style="right: 687px; left: 342px;" class="indicator"></div>
            </ul>
            <div style="display: block;" id="tabProfile" class="blue col s12">

                <div class="text-white col m4 l4 s12">
                    <h4 class="row center white-text">Team 3v3</h4>
                    <div class="row center"><img src="{% static 'img/unknow.png' %}"/></div>
                    <h5 class="white-text row center">No Rankeado</h5>
                    <h6 class="white-text row center"></h6>
                    <h5 class="white-text row center"></h5>
                </div>
                <div class="card lightblue text-white col m4 l4 s12">
                    <h4 class="row center white-text">Solo/Duo Queue</h4>
                    <div class="row center"><img src="{% static 'img/silver_1.png' %}"/></div>
                    <h5 class="white-text row center">Plata I</h5>
                    <h6 class="white-text row center">98 LP</h6>
                    <h5 class="white-text row center">Montaurfs de Orianna</h5>
                </div>
                <div class="text-white col m4 l4 s12">
                    <h4 class="row center white-text">Team 5v5</h4>
                    <div class="row center"><img src="{% static 'img/gold_5.png' %}"/></div>
                    <h5 class="white-text row center">Oro V</h5>
                    <h6 class="white-text row center">98 LP</h6>
                    <h5 class="white-text row center">Guerreros de Katarina</h5>
                </div>

            </div>
            <div style="display: none;" id="tabLeague" class="blue col s12">
                <div class="row center">
                    <div class="row center"><img id="summonerLeagueTabImg" src="{% static 'img/silver_1.png' %}"/></div>
                    <div class="mid row center"><span id="summonerLeagueTabName" class="white-text large-text">
                        <span id="summonerLeagueTabRank">Silver</span>


                        <a id="summonerLeagueTabDivision" class='darkblue dropdown-button btn' href='#' data-activates='dropdown1'>I</a>
                        <ul id='dropdown1' class='darkblue dropdown-content'>
                            <li><a class="white-text center" href="#!">I</a></li>
                            <li><a class="white-text center" href="#!">II</a></li>
                            <li><a class="white-text center" href="#!">III</a></li>
                            <li><a class="white-text center" href="#!">IV</a></li>
                            <li><a class="white-text center" href="#!">V</a></li>
                        </ul>

                    </span><br>
                    <span id="summonerLeagueTabName" class="white-text large-text">Monta Urfs de Orianna</span>
                </div></div>
                <table id="summonerLeagueTabPList" class="card blue white-text responsive-table striped centered">
                    <thead>
                        <tr>
                            <th data-field="summonerLeagueTabPListChange">Cambio</th>
                            <th data-field="summonerLeagueTabPListRank">Rank</th>
                            <th data-field="summonerLeagueTabPListSummoner">Summoner</th>
                            <th data-field="summonerLeagueTabPListExtra">Tips</th>
                            <th data-field="summonerLeagueTabPListWins">Victorias</th>
                            <th data-field="summonerLeagueTabPPromoInfo">Promoción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>1</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td><i class="material-icons">done</i><i class="material-icons">close</i><i class="dark-text material-icons">radio_button_unchecked</i><i class="dark-text material-icons">radio_button_unchecked</i><i class="dark-text material-icons">radio_button_unchecked</i></td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>2</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td><i class="material-icons">done</i><i class="material-icons">close</i><i class="dark-text material-icons">radio_button_unchecked</i><i class="dark-text material-icons">radio_button_unchecked</i><i class="dark-text material-icons">radio_button_unchecked</i></td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>2</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td><i class="material-icons">done</i><i class="material-icons">close</i><i class="dark-text material-icons">radio_button_unchecked</i><i class="dark-text material-icons">radio_button_unchecked</i><i class="dark-text material-icons">radio_button_unchecked</i></td>
                        </tr>
                    </tbody>
                </table>
                <table id="summonerLeagueTabList" class="card blue white-text responsive-table striped centered">
                    <thead>
                        <tr>
                            <th data-field="summonerLeagueTabListChange">Cambio</th>
                            <th data-field="summonerLeagueTabListRank">Rank</th>
                            <th data-field="summonerLeagueTabListSummoner">Summoner</th>
                            <th data-field="summonerLeagueTabListExtra">Tips</th>
                            <th data-field="summonerLeagueTabListWins">Victorias</th>
                            <th data-field="summonerLeagueTabLP">Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>3</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td>88 LP</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>4</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td>88 LP</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>5</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td>88 LP</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>6</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td>88 LP</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>7</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td>88 LP</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>8</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td>88 LP</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">arrow_drop_up</i>12</td>
                            <td>9</td>
                            <td><img class="listImg mid" src="{% static 'img/612.png' %}"/><a class="white-text waves-effect" href="profile/las/sadjockerking">Sad Jocker King</a></td>
                            <td><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo en la Liga">star</i><i class="material-icons dark-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racha de Victorias">call_made</i></td>
                            <td>149</td>
                            <td>88 LP</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
            <div style="display: none;" id="tabHistory" class="blue col s12">
                <div class="darkblue card white-text col s12 historyCard">
                    <div id="isWin" class="green hLabel"></div>
                    <div class="hImg">
                        <div id="hImg" style="text-align:center;padding-top:74px;width:96px;height:96px;background: transparent none repeat scroll center center / 100px auto;background-image: url('{% static 'img/hRiven.png' %}');">
                            <div style="width:100%;background-color:rgba(0,0,0,0.5);"><a id="hChamp" class="white-text" href="#">Riven</a></div>
                        </div>
                    </div>
                    <div class="hSum">
                        <img id="hSum1" style="width:45px;height:45px;" src="{% static 'img/SummonerFlash.png' %}"/><br>
                        <img id="hSum2" style="width:45px;height:45px;" src="{% static 'img/SummonerTeleport.png' %}"/>
                    </div>
                    <div class="hMatch">
                        <h4 id="hWinText" class="truncate"><span class="green-text">Victoria</span></h4>
                        <h6 id="hMap" class="truncate"><strong>La Grieta del Invocador</strong></h6>
                        <p id="hType" class="truncate"><span>Normal (Selección Oculta)</span></p>
                    </div>
                    <div class="hStats">
                        <div class="truncate" style="width:100%;height:49px;">
                            <img id="item1" style="heigh:49px;width:49px" src="{% static 'img/item1.png' %}"/>
                            <img id="item2" style="heigh:49px;width:49px" src="{% static 'img/item2.png' %}"/>
                            <img id="item3" style="heigh:49px;width:49px" src="{% static 'img/item3.png' %}"/>
                            <img id="item4" style="heigh:49px;width:49px" src="{% static 'img/item4.png' %}"/>
                            <img id="item5" style="heigh:49px;width:49px" src="{% static 'img/item5.png' %}"/>
                            <img id="item6" style="heigh:49px;width:49px" src="{% static 'img/item3.png' %}"/>
                            <img id="item7" style="heigh:49px;width:49px" src="{% static 'img/item2.png' %}"/>
                        </div>
                        <div class="truncate" style="width:100%;height:49px;">
                            <br>
                            <strong class="col l4 s4 m4 row center large-text"><i class="mid material-icons">assessment</i><span id="hKills">3</span>/<span id="hDeaths">5</span>/<span id="hAssists">12</span></strong>
                            <strong class="col l4 s4 m4 row center large-text"><i class="mid material-icons">attach_money</i><span id="hGold">17</span>k</strong>
                            <strong class="col l4 s4 m4 row center large-text"><i class="mid material-icons">turned_in_not</i><span id="hCreeps">235</span></strong>
                        </div>

                    </div>
                    <div class="hInfo">
                        <strong class="center mid-text"><i class="mid material-icons">timer</i>24:15</strong><br><br>
                        <strong class="center mid-text"><i class="mid material-icons">access_time</i>19/08/2015</strong><br><br>
                        <strong class="center mid-text"><i class="mid material-icons">trending_up</i>128 PI</strong>

                    </div>


                </div>
            </div>
            <div style="display: none;" id="tabRunes" class="blue col s12">

                <div id="tabs-4" class="tabs-div">
                    <h5>Runas</h5>
                    <hr>
                    <img src="{% static 'img/rune-bg.png' %}" width="780px" draggable="false" style="border-radius:5px"/>

                    <img id="slot1" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot2" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot3" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot4" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot5" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot6" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot7" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot8" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot9" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot10" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot11" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot12" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot13" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot14" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot15" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot16" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot17" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot18" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot19" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot20" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot21" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot22" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot23" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot24" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot25" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot26" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot27" class="rune" src="{% static 'img/runa.png' %}" draggable="false"/>
                    <img id="slot28" class="rune" src="{% static 'img/quitaesencias.png' %}" draggable="false"/>
                    <img id="slot29" class="rune" src="{% static 'img/quitaesencias.png' %}" draggable="false"/>
                    <img id="slot30" class="rune" src="{% static 'img/quitaesencias.png' %}" draggable="false"/>
                </div>

            </div>
            <div style="display: none;" id="tabMasteries" class="blue col s12">Masteries</div>
        </div>
    </div>

</div>
{% endblock %}
{% block tabs %}
{% endblock %}
{% block scripts %}
{% endblock %}
