{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <!--Import Google Icon Font-->
    <!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/> -->

    <!--Let browser know website is optimized for mobile-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
</head>

<body>
    sum: {{summoner}}<br>
    idsum: {{idSum}}<br>
    region: {{region}}<br>
    info: {{info}}<br>
    <hr>
    <!-- Summoner Info -->
    <span id="mostPlayedChampBannerImg">mostPlayedChampBannerImg: </span><br>
    <span id="summonerImg">summonerImg: </span><br>
    <span id="summonerName">summonerName: </span><br>
    <span id="summonerLeagueImg">summonerLeagueImg: </span><br>
    <span id="summonerLeagueName">summonerLeagueName: </span><br>
    <span id="summonerServer">summonerServer: </span><br>
    <span id="summonerKills">summonerKills: </span><br>
    <span id="summonerDeaths">summonerDeaths: </span><br>
    <span id="summonerAssist">summonerAssist: </span><br>
    <span id="summonerKdaRatio">summonerKdaRatio: </span><br>
    <span id="summonerWinrate">summonerWinrate: </span><br>
    <br><br>
    <button id="summonerInfo">Pedir summonerInfo</button>

    <!-- Most Played Champion -->
    <!-- <img id="mostPlayedChamp_img" src="#"/><br>
    <span id="mostPlayedChamp_name">Nombre</span><br>
    <span id="mostPlayedChamp_kda_coefiecient">Coeficiente de kda</span><br>
    <span id="mostPlayedChamp_kda">K/D/A</span><br>
    <span id="mostPlayedChamp_cs">Minions</span><br>
    <span id="mostPlayedChamp_gold">Oro Promedio</span><br>
    <span id="mostPlayedChamp_matches_count">Numero de Partidas</span><br>
    <span id="mostPlayedChamp_winrate_per100">Win Rate Porcentaje</span><br>
    <span id="mostPlayedChamp_winrate_count">Win Rate</span><br>
    <span id="mostPlayedChamp_loserate_per100">Loose Rate Porcentaje</span><br>
    <span id="mostPlayedChamp_loserate_count">Loose Rate</span><br>
    <br><hr><br> -->

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script> -->
    <script>
    $("#summonerInfo").click(function(){
        var data={csrfmiddlewaretoken: '{{ csrf_token }}', value:"summonerInfo"}
        $.ajax({
            type: "POST",
            url: "{% url 'profileApp:profileByName' region=region summoner=summoner %}",
            data: data,
            dataType: "json",
            success: function(result){
                console.log(result)
                $("#mostPlayedChampBannerImg").append(result.mostPlayedChampBannerImg)
                $("#summonerImg").append(result.summonerImg)
                $("#summonerName").append(result.summonerName)
                $("#summonerLeagueImg").append(result.summonerLeagueImg)
                $("#summonerLeagueName").append(result.summonerLeagueName)
                $("#summonerServer").append(result.summonerServer)
                $("#summonerKills").append(result.summonerKills)
                $("#summonerDeaths").append(result.summonerDeaths)
                $("#summonerAssist").append(result.summonerAssist)
                $("#summonerKdaRatio").append(result.summonerKdaRatio)
                $("#summonerWinrate").append(result.summonerWinrate)
            },
            error: function(err){
                console.log(err.responseText);
            },
        });
    });
    </script>
</body>
</html>
